# Introduction to Progamming Languages with Python 
### University of Qom
##### Sun. 1401/10/11

# Chapter 18:
## Inheritance

In [1]:
class Point:
    def __init__(self, x=0, y=0): #constructor
        self.x = x
        self.y = y
    def __str__(self):
        return f"({self.x:g},{self.y:g})"
    __repr__ = __str__
    def __lt__(self, other):
        return self.x<other.x and self.y<other.y
    def __gt__(self, other):
        return other<self
    def __le__(self, other):
        return self.x<=other.x and self.y<=other.y
    def __ge__(self, other):
        return other<=self
    def __add__(self, other):
        if isinstance(other, (int, float)):
            return Point(self.x+other, self.y)
        elif isinstance(other, Point):
            return Point(self.x+other.x, self.y+other.y)
        else:
            raise ValueError("Type Mismatch")
    __radd__ = __add__
        
    def __neg__(self):
        return Point(-self.x, -self.y)
    def __sub__(self, other):
        return self + -other

p1 = Point(2,3)
p1

(2,3)

In [2]:
vars(p1)

{'x': 2, 'y': 3}

In [7]:
hasattr(p1, 'x')

True

In [8]:
getattr(p1,'x')

2

In [18]:
class A:
    a = 12
    def __init__(self,):
        self.a = 18
        print('A class')

class B(A):
    def __init__(self,):
        self.b = 14
        print('B class')

a = A()
b = B()
a.a, b.a

A class
B class

(18, 12)

In [33]:
class A:
    a = 12
    def __init__(self,):
        self.a = 18
        print('A class')
    def f(self,):
        print('function f')

class B(A):
    def __init__(self,):
        self.b = 14
        print('B class')

b = B()
b.f()

B class
function f

In [29]:
class A:
    def __init__(self, a=0):
        self.a = a
        print('A class')

class B(A):
    def __init__(self,b=0):
        super().__init__()
        self.a += 2
        self.b = b
        print('B class')

b = B(14)
vars(b)

A class
B class

{'a': 2, 'b': 14}

In [32]:
class Person:
    def __init__(self, name='', family='', age=0, gender=None,):
        self.name = name
        self.family = family
        self.age = age
        self.gender = gender
    def get_name(self,):
        return f"{self.name} {self.family}"
    def get_age(self,):
        return self.age
    def get_gender(self,):
        return self.gender
    def __str__(self,):
        return f"{self.name} {self.family} [{self.gender}] ({self.age})"
    __repr__ = __str__
    
    
p = Person('jack', 'brown', 32, 'male')
p

jack brown [male] (32)

In [46]:
class Student(Person):
    def __init__(self, name, family, age, gender,
                 st_num, major, avg=0, dorm=False):
        super().__init__(name, family, age, gender)
        self.st_num = st_num
        self.major = major
        self.avg = avg
        self.dorm = dorm
    
    def __str__(self,):
        return super().__str__()+\
            f"(stnum: {self.st_num}, major: {self.major})"
    __repr__ = __str__
        
s = Student('jack', 'brown', 32, 'male', 4011011010, 'CS')
s

jack brown [male] (32)(stnum: 4011011010, major: CS)

In [58]:
class A:
    def __init__(self):
        self.a = 1
        print('A class')
        
class B(A):
    def __init__(self):
        self.b = 2
        print('B class')        
        
class C(A):
    def __init__(self):
        self.c = 3
        print('C class')        
        
class D(C, B):
    def __init__(self):
        self.d = 1
        super().__init__()
        print('D class')
        
o = D()
D.__mro__

C class
D class

(__main__.D, __main__.C, __main__.B, __main__.A, object)

In [69]:
# private attribute/method

class A:
    def __init__(self):
        self.__a = 1
    def get_a(self,):
        return self.__a
        
obj = A()
# obj.__a
obj.get_a()

1

In [72]:
class A:
    def __init__(self):
        self.__a = 1
    def get_a(self,):
        return self.__a
        
class B(A):
    def __init__(self):
        super().__init__()
        self.b = 2
     

b = B()
b.__a
# b.get_a()

AttributeError: 'B' object has no attribute '__a'

In [73]:
vars(b)

{'_A__a': 1, 'b': 2}

In [74]:
b._A__a

1

In [76]:
# conditional expression

season = 'winter'
if season == 'winter':
    start_hour=13
else:# season == 'summer':
    start_hour=12
    
start_hour = 12 if season=='summer' else 13

In [77]:
float('nan')

nan

In [82]:
# infinity

float('inf') > 10**100

True

In [83]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
def fact(n): return 1 if n==0 else n*fact(n-1)

factorial(5), fact(5)

(120, 120)

In [92]:
l = list(range(1, 11))
# newl = []
# for i in l:
#     newl.append(i**2)
    
print([i**2 for i in l],
[i**2 for i in l if i%2==0],
[i**2 if i%2==0 else i**3 for i in l], sep='\n')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]
[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [94]:
l = list(range(1, 11))

{i:i**2 for i in l}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [95]:
any([False, False, True])

True

In [96]:
all([False, False, True])

False

In [99]:
s = set()
for i in [1,2,3]*3:
    s.add(i)
s

{1, 2, 3}

In [102]:
a = {}
type(a)

dict

In [109]:
s1 = {1,2,3,5,8}
s2 = {9,0,3,5,8}

print(s1.intersection(s2), s1.union(s2), s1.difference(s2), 
      s1.issubset(s2), s1.issuperset(s2), s1.isdisjoint(s2), 
      s1.symmetric_difference(s2), sep='\n')

{8, 3, 5}
{0, 1, 2, 3, 5, 8, 9}
{1, 2}
False
False
False
{0, 1, 2, 9}

In [116]:
print(s1-s2,#difference
      s1|s2,#union
      s1&s2,#intersection
      s1^s2 #symmetric_difference
     )

{1, 2} {0, 1, 2, 3, 5, 8, 9} {8, 3, 5} {0, 1, 2, 9}

In [120]:
s = {1,2,3,5,8, 'hi', True, (4,5)}
for i in range(len(s)):
    print(s.pop())

1
2
3
(4, 5)
5
8
hi

In [124]:
s = frozenset( {1,2,3,5,8, 'hi', True, (4,5)})
{1,2,s}

{1, 2, frozenset({(4, 5), 1, 2, 3, 5, 8, 'hi'})}

In [126]:
from collections import Counter

Counter('hello worlds!')
Counter([3,4,2,2,3,4,5,6,6,7,7,0])

Counter({3: 2, 4: 2, 2: 2, 5: 1, 6: 2, 7: 2, 0: 1})

In [131]:
l = [3,4,2,2,3,4,5,6,6,7,7,0]

d = {}
for i, item in enumerate(l):
    if item in d:
        d[item].append(i)
    else:
        d[item] = [i]
d

{3: [0, 4], 4: [1, 5], 2: [2, 3], 5: [6], 6: [7, 8], 7: [9, 10], 0: [11]}

In [134]:
from collections import defaultdict
l = [3,4,2,2,3,4,5,6,6,7,7,0]

d = defaultdict(list)

for i, item in enumerate(l):
    d[item].append(i)
d

defaultdict(list,
            {3: [0, 4],
             4: [1, 5],
             2: [2, 3],
             5: [6],
             6: [7, 8],
             7: [9, 10],
             0: [11]})

In [135]:
from collections import namedtuple

Point = namedtuple("Point", ['x', 'y'])

p = Point(3,4)
p

Point(x=3, y=4)

In [140]:
from collections import namedtuple

Point = namedtuple("Point", ['x', 'y'])


class MyPoint(Point):
    def booq(self,):
        print('boooq')
        
p = MyPoint(3,4)
p.booq()

boooq